body {
    padding: 0;
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

//menu home
.menu {
    width: 500px;
    margin: 0 auto;
    margin-top: 190px;
    img {
        width: 250px;
        margin: 0 auto;
        display: block;
    }

    ul {
        width: 274px;
        margin: 0 auto;
        display: block;
        padding: 0;
        li {
            list-style: none;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
        }
    }
}

//horloge
#game {
    margin: 0 auto;
    margin-top: 48px;
    width: 300px;
}

.container {
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.select-contain {
    float: left;
    width: 250px;

    .arrow-contain{
        float: left;
        width: 51px;
        margin-right: 12px;

        .arrow {
            cursor: pointer;
        }
        .arrow-top{
            background-image: url('img/button_up.png');
            background-repeat: no-repeat; 
            width: 51px;
            height: 77px;
            margin-bottom: 10px;
        }
        .arrow-bottom{
            background-image: url('img/button_down.png');
            background-repeat: no-repeat;
            width: 51px;
            height: 77px;   
        }
    }

    .arrow-contain.right {
        float: right;
    }

    .time{
        background-image: url('img/span.png');
        width: 174px;
        height: 160px;
        float: left;
        font-size: 140px;
        text-align: center;
    }
}

.check{
    background-image: url('img/verify.png');
    width: 462px;
    height: 112px; 
    border: none;
    cursor: pointer;
}

.title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 50px;
    color: white;
}

#modal{
    background-color: white;
    border: 4px solid #DDDDDD;
    border-radius: 10px;
    width: 400px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    padding-bottom: 20px;
    z-index: 1000;

    span.cross{
        display:block;
        position: absolute;
        background-image: url('img/cross.png');
        background-repeat: no-repeat;
        width: 92px;
        height: 92px;
        top: -50px;
        right: -50px;
        cursor: pointer;
    }
    .popup-image{
        width: 565px;
        height: 141px;
        width: 350px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;
        margin-left: 20px;
    }
    .popup-image.win{
        background-image: url('img/success.png') ;
    }
    .popup-image.loose{
        background-image: url('img/fail.png') ;
    }

    span{
        text-align: center;
        width: 100%;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
    }

    a{
        width: 150px;
        height: 50px;
        float: left;
        display: block;
        background-size: contain;
    }

    a.retour {
        background-image: url('img/button_menu.png');
        background-repeat: no-repeat; 
        margin-left: 60px;
    }

    a.replay {
        background-image: url('img/button_replay.png');
        background-repeat: no-repeat;
        cursor: pointer;
    }
}

#cover{
    background-color: black;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.back {
    width: 117px;
    height: 117px;
    background-image: url('img/retour.png');
    display: block;
}

h1.choice {
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    width: 600px;
    margin-left: -130px;
}

.options-content {
    background-color: white;
    border: 4px solid #DDDDDD;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    padding: 20px;
    img {
        width: 100px;
        margin-left: 25px;
        cursor: pointer;
    }
}

.credits {
    position: absolute;
    width: 300px;
    font-size: 25px;
    top: 0;
    left: 50%;
    margin-left: -150px;
    color: white;
}



